# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


gptengineer.js
.github/copilot-instructions.md

.github/memory-bank/
.github/cursor-agent.md
.github/cursor-chat.md

.github/HOWTO-workflows.md
.github/HOWTO-memoryBank.md
.github/storage.json
.github/current-agent-request.md
